html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(img/bg.png);
  background-repeat: repeat;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.main {
  background: rgba(241, 241, 241, 0.9);
  padding-top: 1px; /* issue fix */
}

.block {
  margin: auto auto;
  width: 70%;
  padding: 20px;
  margin-top: 150px;
  box-shadow: inset 0px 0px 6px #ddd;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background: #FCFCFC;
  background-size: 100% 100%;
  &:after,
  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

div[class^='progress'],
i[class^='icon'] {
  display: inline-block;

}

.progress1,
.progress2 {
  margin-right: 20px;
}


div[class^='progress'] {
  width: 7px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px white;
  position: absolute;
  bottom: 58px;
  margin-bottom: 5px;
  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  }
}

i[class^='icon'] {
  height: 30px;
  width: 30px;
}

.progress1 {
  margin-left: 15px;
  background: #FFD2E9;
  border: 2px solid #FFABD6;
}

.progress2 {
  margin-left: 59px;
  background: #9ED3F9;
  border: 2px solid #4BADF3;
}

.progress3 {
  margin-left: 103px;
  background: #CAD4D9;
  border: 2px solid #B2C0C7;
}

.icon1 {
  background: url(img/sprite.png) center no-repeat;
  background-position: -101px -43px;
  margin-left: 6px;
  margin-right: 10px;
}

.icon2 {
  background: url(img/sprite.png) center no-repeat;
  background-position: -4px -76px;
  margin-right: 10px;
}

.icon3 {
  background: url(img/sprite.png) center no-repeat;
  background-position: -41px -76px;
}

.popup-content {
  position: relative;
  text-align: center;
  border: 1px solid #DDD;
  border-radius: 20px;
  padding: 30px;
  font-size: 15px;
  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 5px;
    left: 5px;
    right: 5px;
    border-radius: 20px;
    bottom: 5px;
    border: 1px dashed #C6D5E6;
  }
}

.tail {
  display: inline-block;
  height: 28px;
  width: 100%;
  position: relative;
  &:after {
    content: '';
    background: url(img/sprite.png) no-repeat;
    background-position: -101px -5px;
    position: relative;
    z-index: 1;
    right: 10%;
    bottom: 5px;
    height: 28px;
    width: 32px;
    float: right;
  }
}

.btn-blue {
  width: 100%;
  font-size: 16px;
  min-height: 50px;
  border-radius: 20px;
  color: white;
  text-shadow: 0px 1px 1px #000;
  border: 2px solid white;
  background-image: linear-gradient(to bottom, #56B5FF, #0075A6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#56B5FF, endColorstr=#0075A6);
  box-shadow: #B4B5B5 0px 2px 3px ;
}

.popup-header {
  color: #DD567F;
  font-weight: 400;
  margin-top: -5px;
}

.flex-right,
.flex-left {
  word-wrap: break-word;
}

.flex-left {
  float: left;
  width: 50%;
  // position: relative;
}

.content-left {
  margin-right: 95px;
}

.flex-right {
  margin-right: -130px;
  float: right;
  // position: relative;
  width: 100%;
  margin-left: -50%;
}

.content-right {
  margin-right: 150px;
}

.popup {
  margin-left: 50%;
}

.static-left {
  background-image: url(img/sprite.png);
  background-position: -5px -5px;
  background-repeat: no-repeat;
  height: 45px;
  width: 86px;
  float: left;
  margin-top: 20px;
}

.static-right {
  background-image: url(img/sprite.png);
  background-position: -143px -5px;
  background-repeat: no-repeat;
  float: right;
  height: 102px;
  width: 102px;
  display: inline-block;
  margin-top: 20px;
}

.brd-bottom {
  text-align: justify;
}

.box {
  margin: 20px 53px 0px 175px;
  background: url(img/line.png) bottom repeat-x;
  padding-bottom: 30px;
}

.visual {
  width: 130px;
  background: url(img/line.png) bottom repeat-x;
  padding-bottom: 15px;
  position: relative;
  float: right;
}

.under-button {
  background: url(img/line.png) top repeat-x, url(img/line.png) bottom repeat-x;
  padding: 28px 6px;
  margin: 20px auto;
  text-align: justify;
  line-height: 1.4;
}

.flex-box {
  margin: 0px -100% 0 -66px;
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 14px;
  clear: both;
  float: left;
}
